.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Full page layout */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fa;  /* Light background color */
}

/* Styling for the login container */
.login-container {
  background: #a4e5ff;
  /* background: #ffffff; */
  padding: 30px;
  border-radius: 45px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Styling for the form */
form {
  display: flex;
  flex-direction: column;
}

form .form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

form .form-control {
  margin-bottom: 15px;
}

/* Styling for the login button */
button.btn-primary {
  font-size: 16px;
  padding: 10px;
}

/* Message styling */
.text-center {
  text-align: center;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.btn{
  border-radius: 100px !important;
}